* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    /* flex-grow: 1;
    padding: 4px;
    aspect-ratio: 5 / 2; */
}

.main-page {
    background-color: #000000;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 80px;
    align-items: start;
    justify-content: center;
}

.container-photo {
    position: relative;
    padding: 5px;
}

.muted {
    position: absolute;
    color: white;
    bottom: 20px;
    background-color: #626D79;
    font-size: 15px;
    padding: 1px;
}

.toolbar {
    background-color: #222222;
    height: 10vh;
}

.row{
    display: flex;
    justify-content: space-between;
}

/* toolbar */

/* debug */

.debug .container,.debug .toolbar {
    border: 2px dashed white;
    padding: 20px;
}

.debug main [class^='col-'] {
    border: 2px dashed white;
}

.debug .toolbar-item{
    border: 2px dashed green;
    padding: 20px;
}