* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu{
    list-style: none;
}

img {
    /* flex-grow: 1;
    padding: 4px;
    aspect-ratio: 5 / 2; */
    width: 100%;
}

.main-page {
    background-color: #000000;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 95px 80px;
    align-items: start;
    justify-content: center;
}

.container-photo {
    position: relative;
    padding: 5px;
}

.muted {
    position: absolute;
    color: white;
    bottom: 20px;
    background-color: #626D79;
    font-size: 15px;
    padding: 1px;
}

.toolbar {
    background-color: #222222;
    height: 10vh;
    padding: 12px;
}

.row{
    display: flex;
    justify-content: space-between;
}

/* toolbar */
.toolbar .info-icon {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.toolbar i{
    font-size: 30px;
}

.toolbar {
    height: 10vh;
    padding: 12px;
    background-color: #222222;
    color: white;

}

.icon{
    position: relative;
    left: -7px;
}


.select{
    position: relative;
    left: 13px;
    bottom: 8px;
}

.col {
    text-align: center;
}

.col-9{
    flex-basis: calc((100% / 12) * 7);
    display: inline-block;
}

.camera{
    position: relative;
    right: 151px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}



/* debug */

.debug .container,.debug .toolbar {
    border: 2px dashed white;
    padding: 20px;
}

.debug main [class^='col-'] {
    border: 2px dashed white;
}

.debugg section [class^='col-']{
    border: 2px dashed green;
    padding: 20px;
}